.list-view {
  -fx-font-size: 11pt;
  -fx-font-family: sans-serif;
}
.list-cell:selected {
  -fx-background-color: #cbd;
  -fx-text-fill: black;
  -fx-font-weight: bold;
}
.list-view:focused .list-cell:selected {
  -fx-background-color: #ddc;
}
.text-area {
  -fx-font-size: 11pt;
}
.menu-bar {
  -fx-font-size: 11pt;
}
